.btn {
    padding: 0.2rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: #333;
    color: white;
}

.btn-danger {
    background-color: #cf0f0f;
}

.checked {
    opacity: 0.5;
    text-decoration: line-through;
}

.unchecked {
    opacity: 1;
    text-decoration: none;
}
