* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ultility class */

.btn {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: #333;
    color: white;
}

.btn-danger {
    background-color: #cf0f0f;
}

.checked {
    opacity: 0.5;
    text-decoration: line-through;
}

.unchecked {
    opacity: 1;
    text-decoration: none;
}

/* style  */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a9cb5;
    padding: 0.5rem;
    font-size: 1rem;
    color: #f0f0f0;
}

#add-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

#add-form input {
    border: none;
    outline: none;
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 5px;
}

#add-form input:focus {
    border-bottom: 1px #5a9cb5 solid;
}

#todo-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    width: 95%;
    margin: auto;
}

#todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 1px #333 solid;
}

#todo-list li div > * {
    margin-right: 0.5rem;
}
